@*@model SAExpiations.Models.ExpiationOffence*@
@model IEnumerable<SAExpiations.ViewModels.ExpiationDetails>

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ExpiationOffence</h4>
    <hr />
    @foreach(var item in Model){
    <p> hello world</p>
        <hr />

    }

</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
