@model IEnumerable<SAExpiations.ViewModels.LocationServicesDetails>
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LocalServiceArea</h4>
    <hr />
    <div>
        <a asp-action="Index">Back to List</a>
    </div>


    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        <p>Offence Code</p>
                    </th>
                    <th>
                        <p>Offence Description</p>
                    </th>
                    <th>
                        <p>NO. Offences</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                        var myClass = (item.TotalExpiations <= 0) ? "empty" : item.TotalExpiations.ToString();
                        <tr class="@myClass">
                            <td>
                                @Html.DisplayFor(modelItem => item.ExpiationCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ExpiationDescription)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalExpiations)
                            </td>
                        </tr>
                    }
          
            </tbody>
        </table>
    </div>
